<div class="container">
  <h2>Valverde Personal Trainer</h2>
  <p>Olá, meu nome é <span class="highlight">Valverde</span>, personal trainer especializado em ajudar pessoas
    a alcançarem seus objetivos de saúde e bem-estar. Com uma abordagem personalizada, foco em resultados duradouros
    e mais de <span class="highlight">[X] anos de experiência</span> no setor, ofereço um acompanhamento individualizado
     para diferentes perfis, seja você iniciante ou atleta experiente.</p>

  <p>Minhas áreas de especialização incluem:</p>
  <ul>
    <li>Treinamento funcional</li>
    <li>Condicionamento físico</li>
    <li>Hipertrofia e definição muscular</li>
    <li>Emagrecimento e recomposição corporal</li>
  </ul>

  <p>Meu objetivo é proporcionar a você mais qualidade de vida, por meio de treinos eficazes e motivadores.
    Acredito que cada pessoa tem um caminho único a seguir, e estarei ao seu lado nessa jornada.</p>
</div>
