.nav-item {
  margin: 0 20px;
}

.nav-link {
  /* color: white; */
  text-decoration: black;
}

.navbar {
  background: #6bc04f !important;
}


.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  transform: translate3d(-40px, 23px, 0px); /* distancia entre menu e btn */
  top: 0px;
  left: 0px;
  will-change: transform;
}

.dropdown-toggle::after {
  display: none !important; /* Remove a seta */
}

.dropdown {
  display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
  list-style: none; /* rita a "bolinha" do LI*/
}

a{
  color: #000205;
  text-align: center;
  text-decoration: none;
}

