<section class="container_cadastros fomulario ff-inter">
  <header class="header">
    <h2>Questionário</h2>
  </header>
  <form [formGroup]="formulario">
    <div formArrayName="perguntas">
      <div *ngFor="let perguntaControl of perguntasArray.controls; let i = index" [formGroupName]="i">
        <label for="pergunta{{perguntaControl.get('id')?.value}}">
          {{ perguntaControl.get('pergunta')?.value }}
        </label>
        <input
          id="pergunta{{perguntaControl.get('id')?.value}}"
          formControlName="resposta"
          placeholder="Digite a resposta"
          class="input"
        >
        <div class="mensagem__erro"
          *ngIf="perguntaControl.get('resposta')?.errors && perguntaControl.get('resposta')?.touched">
          Resposta é Obrigatória!
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap gap-3">
      <button
      [disabled]="!formulario.valid"
       (click)="criarResposta()"
        [ngClass]="habilitarBotao()"
        id="btnSalvar"
        >Salvar
      </button>
      <button (click)="cancelar()" class="botao_forms">Cancelar</button>
      </div>
    </div>
  </form>
</section>
