<section class="container_cadastros fomulario ff-inter">
    <header class="header">
      <h2>{{ titulo }}</h2>
    </header>
    <form [formGroup]="formulario">
  
      <label for="nome">Igreja</label>
      <input
        class="input"
        id="nome"
        formControlName="nome"
        placeholder="Digite o nome da igreja"
      >
      <div class="mensagem__erro"
       *ngIf="formulario.get('nome')?.errors && formulario.get('nome')?.touched">
        Nome é Obrigatório!
      </div>

      <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-wrap gap-3">
        <button
        [disabled]="!formulario.valid"
         (click)="id ? editarIgreja() : criarIgreja()"
          [ngClass]="habilitarBotao()"
          id="btnSalvar"
          >Salvar
        </button>
        <button (click)="cancelar()" class="botao_forms">Cancelar</button>
        </div>
      </div>
    </form>
  </section>
  