
<div class="container">
  <div class="container row mx-auto" *ngIf="isDiscipulador || isAdmin">
    <div class="col-md-6 mb-4">
      <h3>Discipulados</h3>
      <a routerLink="/listarDiscipulados">
        <img
          src="../../../assets/imagens/disc.jpg"
          class="img-fluid rounded img-custom"
          alt="Discipulados"
          style="cursor: pointer;">
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <h3>{{ isAdmin ? 'Turmas' : (isDiscipulador ? 'Minhas turmas' : '') }}</h3>
      <a routerLink="/listarMeusDiscipulados">
        <img
          src="../../../assets/imagens/professor.jpg"
          class="img-fluid rounded img-custom"
          alt="Discipulados"
          style="cursor: pointer;">
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <h3>Usuários</h3>
      <a routerLink="/listarUsuarios">
        <img
          src="../../../assets/imagens/alunos.jpg"
          class="img-fluid rounded img-custom"
          alt="Alunos"
          style="cursor: pointer;">
      </a>
    </div>
    <div class="col-md-6 mb-4"  *ngIf="isAdmin">
      <h3>Igrejas Parceiras</h3>
      <a routerLink="/listarIgrejas">
        <img
          src="../../../assets/imagens/igreja.png"
          class="img-fluid rounded img-custom-ipb"
          alt="Logo Igreja Presbiteriana"
          style="cursor: pointer;">
      </a>
    </div>
  </div>
  <app-meus-discipulados></app-meus-discipulados>
</div>
<br/>

