
<div class="container">
  <div class="container row mx-auto" *ngIf="isDiscipulador || isAdmin">
    <div class="col-md-6 mb-4">
      <h3>Todos os discipulados</h3>
      <a routerLink="/listarDiscipulados">
        <img 
          src="../../../assets/imagens/disc.jpg" 
          class="img-fluid rounded img-custom"
          alt="Discipulados"
          style="cursor: pointer;">
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <h3>Meus discipulados</h3>
      <a routerLink="/listarMeusDiscipulados">
        <img 
          src="../../../assets/imagens/professor.jpg" 
          class="img-fluid rounded img-custom"
          alt="Discipulados"
          style="cursor: pointer;">
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <h3>Usuários</h3>
      <a routerLink="/listarUsuarios">
        <img 
          src="../../../assets/imagens/alunos.jpg" 
          class="img-fluid rounded img-custom"
          alt="Alunos"
          style="cursor: pointer;">
      </a>
    </div>
    <div class="col-md-6 mb-4"  *ngIf="isAdmin">
      <h3>Igrejas Parceiras</h3>
      <a routerLink="/listarIgrejas">
        <img 
          src="../../../assets/imagens/igreja.png" 
          class="img-fluid rounded img-custom-ipb"
          alt="Logo Igreja Presbiteriana"
          style="cursor: pointer;">
      </a>
    </div>
  </div>  
  <div class="container row mx-auto" *ngIf="isDiscipulo">
    <div class="col-md-12">
      <h3>Discipulados</h3>
      <div class="mural" *ngIf="listaDiscipulados.length > 0; else semDiscipulados">
        <div class="card-mural" *ngFor="let discpulado of listaDiscipulados">
          <a [routerLink]="'/questionario/' + discpulado.id" [queryParams]="{ licao: discpulado.licao }">
            <img 
              [src]="link + discpulado.foto" 
              class="img-fluid rounded img-custom-capa"
              alt="Discipulados">
          </a>
          <a [routerLink]="'/questionario/' + discpulado.id" [queryParams]="{ licao: discpulado.licao }">
            <h5 class="texto">{{ discpulado.nome }}</h5>
          </a>
          <p>Próximo estudo: {{ discpulado.proximoEstudo }}</p>
        </div>
      </div>
    </div>    
  </div>  
</div>
<br/>


<ng-template #semDiscipulados>
  <div class="ff-inter centralizar">
    <p>Não há discipulados cadastrado.</p>
  </div>
</ng-template>
