<div class="container row mx-auto">
    <div class="container row mx-auto">
      <div class="col-md-9 align-self-center">
        <p class="titulo">
          Usuários
        </p>
      </div>
      <div class="col-md-3 align-self-center">
        <i class="fa-regular fa-plus"></i><a [routerLink]="['/cadastro']" [queryParams]="{ cadastro: true }" class="add"> Adicionar Usuário</a>
      </div>
    </div>
    <div class="col-md-12 align-self-center">
      <label style="margin-left: 5px;" for="adm">Pesquisar</label>
      <div class="d-flex" role="search">
        <input
          type="search"
          class="form-control me-2"
          placeholder="Digite o nome de quem procura"
          autofocus
          [(ngModel)]="filtroNome"
          (keyup)="pesquisarUsuario($event)"
        >
      </div>
    </div>
    <br>
    <br>
    <br>
    <div *ngIf="listaUsuarios.length > 0, else semUsuario">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Nível</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let usuario of listaUsuarios; let i = index">
            <tr [class.odd]="i % 2 === 0" [class.even]="i % 2 !== 0">
              <td><a class="listaAdm" href="/editarUsuario/{{ usuario.id }}">{{ usuario.nome }}</a></td>
              <td><a class="listaAdm" href="/editarUsuario/{{ usuario.id }}">{{ usuario.email }}</a></td>
              <td><a class="listaAdm" href="/editarUsuario/{{ usuario.id }}">{{ usuario.telefone }}</a></td>
              <td><a class="listaAdm" href="/editarUsuario/{{ usuario.id }}">{{ usuario.nivel }}</a></td>
              <td><a class="botaoExcluir" href="/editarUsuario/{{ usuario.id }}"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap gap-3" *ngIf="totalPaginas > 1">
        <button (click)="paginaAnterior()" [ngClass]="habilitarBotao('anterior')" [disabled]="habilitarBotao('anterior') === 'botao_pag_desabilitado'">Anterior</button>
        <button (click)="proximaPagina()" [ngClass]="habilitarBotao('proxima')" [disabled]="habilitarBotao('proxima') === 'botao_pag_desabilitado'">Próxima</button>
      </div>
      <br/>
    </div>
  </div>

  <ng-template #semUsuario>
    <div class="ff-inter centralizar">
      <p>Não há nenhum outro usuário cadastrado</p>
    </div>
  </ng-template>
